.carouselWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  margin: auto;
  flex-wrap: nowrap;
  overflow: hidden;
}

.paginationDesktop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: .5vw;
  margin-top: 1rem;
  gap: 1vw;
}

.paginationMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: .1vw;
}