.carCardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: left;
}

.carCardText {
  display: flex;
  flex-direction: column;
}

.carCardSubtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.carCardLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  margin-top: 1.5rem;

  a {
    font-size: 1rem;
  }
}